/*
 *  @Description:   This file contains all the colors used by the app.
 *
 */

$Black: #27373C;
$White: #FFFFFF;


//WERFEN COLORS
$WerfenIconColor: #44a1da;
$WerfenColor: #06038D;
$WerfenColorMid: #33B5E6;
$WerfenColorLight: #66C8ED;

$WerfenColor2: #2BAED8;
$WerfenColor3: #6EBEE0;
$WerfenColor4: #9FD0E7;
$WerfenColor5: #CEE7F0;

//CONSTRAST COLOR
$WerfenColorContrast: #E87722;

//IL COLORS

$ILIconColor: #a1da44;
$ILColor: #06038D;
$ILColorMid: #AABA0A;
$ILColorLight: #C3D600;

$ILColor1: #2BAED8;
$ILColor3: #6EBEE0;
$ILColor4: #9FD0E7;
$ILColor5: #CEE7F0;

//WERFEN CONSTRAST COLOR
$ILColorContrast: #EAAA00;

//COOL GRAY
$CoolGray: IWP-2266;
$CoolGray2: #C3C0C1;
$CoolGray3: #D2D0D0;
$CoolGray4: #E2DFDF;
$CoolGray5: #F1EEEF;

//DARK COLORS
$Dark: #28373C;
$Dark2: #91A7B2;
$Dark3: #C5D7DB;
$Dark4: #EBF5F7;
$Dark5: #989898;
$Dark6: #e6e6e6;

//FX COLORS
$Shadow: #E5E5E5;

//SIDEBAR COLORS
$OverviewColor: #06038D;
$HemostasisColor: #AFBC22;
$AcuteCareColor: #A60B41;
$AutoimmunityColor: #A72B2A;
