.modal-dialog.Modal_Screen {
    max-width: calc(100% - 250px);
    overflow: hidden;
    .modal-body {
        padding: 0;
    }
    .DownloadManager {
        padding: 0 20px 20px;
        background-color: #dcecf4;

        &__Header {
            display: none;
        }

        &__Table {
            &--list {
                max-height: unset;
                height: calc(100vh - 350px);
                min-height: 460px;
            }
        }
    }
}